*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

h3{
    margin: 10px 0;
}

h4{
    font-size: 14px;
}

.bg-blue{
    height: 50px;
    text-align: center;
    line-height: 35px;
    color: white;
    background-color: rgb(36, 115, 194);
    border: 1px solid white;
    padding: 7.5px;
}

.bg-blue-25{
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: white;
    background-color: rgb(36, 115, 194);
    border: 1px solid white;
    
}

.bg-green{
    line-height: 35px;
    height: 35px;
    color: rgb(36, 115, 194);
    background-color: greenyellow;
    border: 1px solid rgb(36, 115, 194);
}

.margin-top{
    margin-top: 20px;
}


