*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

h3{
    margin: 10px 0;
}

.bg-blue{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 5px;
    background-color: rgb(36, 115, 194);
    border: 1px solid white;
}

.bg-green{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    color: rgb(36, 115, 194);
    background-color: greenyellow;
    border: 1px solid rgb(36, 115, 194);
}

.margin-top{
    margin-top: 20px;
}